:root {
    --main-color: black;
    --bg-color: white;
    --gray-main-color: #a0a0a0;
    --gray-bg-color: #d0d0d0;
    --display-sun: none;
    --display-moon: block;
}

[data-theme="dark"] {
    --main-color: white;
    --bg-color: #1e1e1e;
    --gray-main-color: #808080;
    --gray-bg-color: #505050;
    --display-sun: block;
    --display-moon: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: .5s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.device {
    margin: 10px;
    width: 90%;
    height: 90%;
}

.settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
}

.theme_button {
    background: none;
    border: none;
    cursor: pointer;
}

.light {
    display: var(--display-moon);
}

.dark {
    display: var(--display-sun);
}

.sun {
    color: var(--main-color);
}

.canvas_container {
    display: block;
    width: 100%;
    height: 80%;
    background-color: var(--bg-color);
    text-align: center;
    border: 2px solid var(--main-color);
    transition: .5s;
}

#canvas {
    width: 100%;
    height: 100%;
}

label {
    background-color: var(--bg-color);
}

input[type="file"] {
    display: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    background-color: var(--bg-color);
    cursor: pointer;
    font-size: 1rem;
    color: var(--main-color);
}

.button:disabled {
    color: var(--gray-main-color);
    border: 1px solid var(--gray-bg-color);
    cursor: not-allowed;
}

.disabled {
    color: var(--gray-main-color);
    border: 1px solid var(--gray-bg-color);
    cursor: not-allowed;
}

/* スマホ画面のスタイル */
@media screen and (max-width: 767px) {
    .buttons {
        height: 20%;
    }

    .button {
        margin: 5px;
        padding: 10px 10px;
    }
}
